# Python

1. what is Python why is it popular ?
   Python is a programing language. It is  case sensitive programing languge. It is popular among developers and programmers because it is easy to understand

2. What is an interpreter in Python ?
   Interpreter in Python is a program that reads code line by line.

3. What are pre-defined keywords in Python ?
   Pre-ndefined keywords are reserved words in python that cannot be used as identifires. for ex - if , else , while , elif, for , etc.

4. Can keywords be used as variable names ?
   No key words cannot be used as variables.

5. What is mutability in Python ?
   In Python objects/container whose state or value can be changed after they are created are called mutable.
?
6. Why are lists mutable, but tuples are immutable   
   In list we use squar brackets, while in tuple we use parenthesis.

7. What is the difference between “==” and “is” operators in Python ?
   "==" operater checks the equality of value while "is" operator checks the identity.

8. What are logical operators in Python ?
   Logical operator in Python used to combine or modify.

9. What is type casting in Python ?
   In python type casting used to change the format.

10. What is the difference between implicit and explicit type casting ?
   Implicit -type casting in python understand the datatype while explicit typecasting convert  data type using inbuilt function for ex str, int, float, boolean.

11. What is the purpose of conditional statements in Python ?
   In python conditional statement helps to code decision based on some pre conditions.

12. How does the elif statement work ?
   Elif statement is used for multiple conditions, if the first condition is false, it moves on to the next "elif" statement to check if that condition is true or false.

13. What is the difference between for and while loops ?
   While loop repeatedly executed a block of code untill a condition is met.
   For loop iterate over a sequence of elemens.

14. Describe a scenario where a while loop is more suitable than a for loop ?
   While loop is more suitable when the repetition is dependent on a condition or don't know the number of times need to repeat a block of code.

In [ ]:
# 1. Write a Python program to print "Hello, World!"
print("Hello, world!")

Hello, world!

In [ ]:
# 2. Write a Python program that displays your name and age
Name = "Palak Patel"
Age = 30
print("name: ", Name)
print("age: ", Age)

name:  Palak Patel
age:  30

In [2]:
# 3. Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
    # for each.
my_list = ["Palak","Nishit","Divya",34,45]
my_tuple = ("Palak","Nishit","Divya",34,45)
my_list[0] = "Shail"
print("Updated my_list: ",my_list)

Updated my_list:  ['Shail', 'Nishit', 'Divya', 34, 45]

In [4]:
my_tuple == ("Palak","Nishit","Divya",34,45)
my_tuple (0) == "Shail"
print("updated my_tuple: ",my_tuple)

TypeError: 'tuple' object is not callable

above example shows that elements in the list can be changed and elemets in the tuple cannot be changed.

In [5]:
# 3. Write a function to demonstrate the behavior of mutable and immutable arguments.
my_list =[24, 45, 56, "Palak", 36, "Nishit"]
my_list[4] = "Divya"
print(my_list)

[24, 45, 56, 'Palak', 'Divya', 'Nishit']

In [6]:
my_name = "Palak"
my_name[2] = "j"
print(my_name)

TypeError: 'str' object does not support item assignment

In [9]:

# 4. Write a program that performs basic arithmetic operations on two user-input numbers.
a = int(input("Enter first number : "))
b = int(input("Enter second number: " ))
Sum = a+b
print(Sum)

Enter first number : 24
Enter second number: 35
59

In [11]:
#  5.Write a program to demonstrate the use of logical operators.
print(True or Flase)

True

In [12]:
print(True and False)

False

In [15]:
print(1 or 2)

1

In [16]:
print(1 and 2)

2

In [25]:
#  6.Write a Python program to convert user input from string to integer, float, and boolean type

a = int(input("enter a number : "))

print(a)

enter a number : 34
34

In [26]:
float(a)

34.0

In [27]:
bool(a)

True

In [32]:
#  7.Write code to demonstrate type casting with list elements.

a = ["palak"]
b = ["45"]
a + b

['palak', '45']

In [34]:
# 8.  Write a program that checks if a number is positive, negative, or zero.
num = int(input("enter a number: "))
if num > 0 :
  print("number is positive")
elif num < 0 :
  print("number is negative")
else :
  print("number is zero")

enter a number: 87
number is positive

In [35]:
num = int(input("enter a number: "))
if num > 0 :
  print("number is positive")
elif num < 0 :
  print("number is negative")
else :
  print("number is zero")

enter a number: -45
number is negative

In [36]:
num = int(input("enter a number: "))
if num > 0 :
  print("number is positive")
elif num < 0 :
  print("number is negative")
else :
  print("number is zero")

enter a number: 0
number is zero

In [39]:
# 9. Write a for loop to print numbers from 1 to 10.
l = [1,2,3,4,5,6,7,8,9,10]
for i in l:
  print(i)

1
2
3
4
5
6
7
8
9
10

In [43]:
# 10. Write a Python program to find the sum of all even numbers between 1 and 5
for num in range(1,51):
  if num % 2 == 0:
    a += num
    print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

In [46]:
#  11.Write a program to reverse a string using a while loop.
n = 1
i = 7
while i>n :
  print(i)
  i = i-1

7
6
5
4
3
2

In [ ]:
# 12.  Write a Python program to calculate the factorial of a number provided by the user using a while loop